*,
*::after,
*::before {
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Cabinet Grotesk', sans-serif;
}

#root {
	display: grid;
	grid-template-rows: min-content min-content;
	grid-template-columns:
		[full-start] minmax(6rem, 1fr) repeat(
			8,
			[col-start] minmax(min-content, 14rem) [col-end]
		)
		minmax(6rem, 1fr) [full-end];
}

@media screen and (max-width: 500px){
	#root{
		grid-template-columns:
		[full-start] minmax(3rem, 1fr) repeat(
			8,
			[col-start] minmax(min-content, 14rem) [col-end]
		)
		minmax(3rem, 1fr) [full-end];
	}
}

img {
	display: block;
	height: 350px;
	max-width: 100%;
}

p {
	font-family: 'Cabinet Grotesk', sans-serif;
}

.nav {
	grid-column: 2/10;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid rgba(230, 230, 230);
	column-gap: 4rem;
	row-gap: 2rem;
	padding-block: 2rem;
}

.nav__logo {
	font-size: 4rem;
	font-weight: bold;
}

form {
	width: min(100%, 350px);
}

.search__input {
	padding: 1rem;

	font-family: 'Cabinet Grotesk', sans-serif;
	font-size: 1.6rem;
	border: 0;
	border-bottom: 1px solid #999999;
	width: min(100%, 350px);
	padding-left: 1.5rem;
}

.grid-container {
	margin-top: 6rem;
	grid-column: 2/10;
	grid-row: 2/3;
	padding-bottom: 6rem;
	width: 100%;
	max-width: 1440px;
	margin-inline: auto;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
	gap: 3.5rem;
	justify-items: center;
}

.tags {
	font-size: 1.8rem;
	margin-bottom: 3rem;
	text-align: right;
}

.error {
	background-color: rgb(231, 40, 40);
	color: white;
	font-size: 2rem;
	width: min(100%, 450px);
	padding: 1.6rem;
}


@media screen and (max-width: 638px) {
	.nav{
		justify-content: center;
	}
}